<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Slot-1</key>
	<dict>
		<key>Device1</key>
		<dict>
			<key>Description</key>
			<string>DUT serial port</string>
			<key>Name</key>
			<string>DUT</string>
			<key>Enable</key>
			<true/>
			<key>ID</key>
			<string>1000</string>
			<key>Type</key>
			<string>SERIAL</string>
			<key>Addr</key>
			<string>wchusbserial14210</string>
			<key>BaudRate</key>
			<string>9600</string>
		</dict>
		<key>Device2</key>
		<dict>
			<key>Description</key>
			<string>DMM 34465A</string>
			<key>Name</key>
			<string>DMM</string>
			<key>Enable</key>
			<false/>
			<key>ID</key>
			<string>2000</string>
			<key>Type</key>
			<string>INSTR</string>
			<key>Addr</key>
			<string>ASRL9::INSTR</string>
			<key>BaudRate</key>
			<string>9600</string>
		</dict>
	</dict>
	<key>Slot-2</key>
	<dict>
		<key>Device1</key>
		<dict>
			<key>Description</key>
			<string>DUT serial port</string>
			<key>Name</key>
			<string>DUT</string>
			<key>Enable</key>
			<true/>
			<key>ID</key>
			<string>1000</string>
			<key>Type</key>
			<string>SERIAL</string>
			<key>Addr</key>
			<string>wchusbserial14220</string>
			<key>BaudRate</key>
			<string>9600</string>
		</dict>
		<key>Device2</key>
		<dict>
			<key>Description</key>
			<string>DMM 34465A</string>
			<key>Name</key>
			<string>DMM</string>
			<key>Enable</key>
			<false/>
			<key>ID</key>
			<string>2000</string>
			<key>Type</key>
			<string>INSTR</string>
			<key>Addr</key>
			<string>ASRL10::INSTR</string>
			<key>BaudRate</key>
			<string>9600</string>
		</dict>
	</dict>
	<key>Slot-3</key>
	<dict>
		<key>Device1</key>
		<dict>
			<key>Description</key>
			<string>DUT serial port</string>
			<key>Name</key>
			<string>DUT</string>
			<key>Enable</key>
			<true/>
			<key>ID</key>
			<string>1000</string>
			<key>Type</key>
			<string>SERIAL</string>
			<key>Addr</key>
			<string>wchusbserial14230</string>
			<key>BaudRate</key>
			<string>9600</string>
		</dict>
		<key>Device2</key>
		<dict>
			<key>Description</key>
			<string>DMM 34465A</string>
			<key>Name</key>
			<string>DMM</string>
			<key>Enable</key>
			<false/>
			<key>ID</key>
			<string>2000</string>
			<key>Type</key>
			<string>INSTR</string>
			<key>Addr</key>
			<string>ASRL11::INSTR</string>
			<key>BaudRate</key>
			<string>9600</string>
		</dict>
	</dict>
	<key>Slot-4</key>
	<dict>
		<key>Device1</key>
		<dict>
			<key>Description</key>
			<string>DUT serial port</string>
			<key>Name</key>
			<string>DUT</string>
			<key>Enable</key>
			<true/>
			<key>ID</key>
			<string>1000</string>
			<key>Type</key>
			<string>SERIAL</string>
			<key>Addr</key>
			<string>wchusbserial14240</string>
			<key>BaudRate</key>
			<string>9600</string>
		</dict>
		<key>Device2</key>
		<dict>
			<key>Description</key>
			<string>DMM 34465A</string>
			<key>Name</key>
			<string>DMM</string>
			<key>Enable</key>
			<false/>
			<key>ID</key>
			<string>2000</string>
			<key>Type</key>
			<string>INSTR</string>
			<key>Addr</key>
			<string>ASRL12::INSTR</string>
			<key>BaudRate</key>
			<string>9600</string>
		</dict>
	</dict>
	<key>TTFrame</key>
	<dict>
		<key>Device1</key>
		<dict>
			<key>Description</key>
			<string>Fixture serial port</string>
			<key>Name</key>
			<string>Fixture</string>
			<key>Enable</key>
			<false/>
			<key>ID</key>
			<string>1000</string>
			<key>Type</key>
			<string>SERIAL</string>
			<key>Addr</key>
			<string>usbserial-A5XK3RJT10</string>
			<key>BaudRate</key>
			<string>9600</string>
		</dict>
		<key>Device2</key>
		<dict>
			<key>Description</key>
			<string>Python socket connect</string>
			<key>Name</key>
			<string>PYClient</string>
			<key>Enable</key>
			<true/>
			<key>ID</key>
			<string>2000</string>
			<key>Type</key>
			<string>SOCKET</string>
			<key>Mode</key>
			<string>client</string>
			<key>IP</key>
			<string>127.0.0.1</string>
			<key>Port</key>
			<string>8002</string>
		</dict>
	</dict>
</dict>
</plist>
